:root {
  min-height: 100%;
}

.my-font {
  font-family: 'Fasthand', cursive;
  font-size: x-large;
}

.my-font:hover {
  font-family: 'Fasthand', cursive;
  font-size: x-large;
}

.my-pos {
  position: fixed;
  bottom: 1em;
  right: 1.5em;
  background-color: #969899;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.my-pos:hover {
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.my-text-font-one {
  /* font-family: 'Fasthand', cursive;
  font-family: 'Rajdhani', sans-serif; */
  font-family: 'Roboto Condensed';
}

.custom-container {
  max-width: 920px;
}

.custom-img {
  height: 180px;
  width: 180px;
  border-radius: 100%;
}

.custom-height {
  
}

.custom-img-fill {
  max-height: 10em;
  min-width: 100%;
  object-fit: cover;
}

@media (min-width: 500px) {
  .custom-img-setting {
    
  }
}


@media(max-width: 700px) {
  .card-custom-width {
    min-width: 100%;
  }
}

@media (min-width: 700px) {
  .card-custom-width {
    min-width: 80%;
    max-width: 90%;
  }
}

@media (min-width: 949px) {
  .card-custom-width {
    min-width: 80%;
    max-width: 90%;
  }
}

.small-spinner {
  height: 20px;
  width: 20px;
}

.about-tech-start ul li {
  list-style-type: none;
}
